*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
/* Define a estilização do fundo */
body{
    background: #222;

}
/* Define a estilização do cartão como um todo */
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b54a5);
    color: #fff;
    /* Centralizará o cartão no meio da tela */
    margin: 100px auto 0;
    /* Responsável por arredondar as bordas */
    border-radius:20px; 
    padding: 40px 35px;
    /* Centralizará a parte escrita */
    text-align: center;
}

/* Estilização e adequação do campo de pesquisa */
.search{
    width: 100%;
    /* Adequará o tamanho do botão de search e o campo um ao outro */
    display:flex;
    align-items: center;
    justify-content:space-between;
}
/* Estilização do input de pesquisa */
.search input{
    border:0;
    outline:0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height:60px;
    border-radius:25px;
    /* Alongará o campo de pesquisa até encostar no botão de search */
    flex: 1;
    /* Reduzirá para não encostar no botão */
    margin-right:16px;
    font-size: 18px;
}
/* Estilização específica para o botão de pesquisa */
.search button {
    border:0;
    outline:0;
    background: #ebfffc;
    /* Transformará o botão em um círculo */
    border-radius:50%;
    width: 60px;
    height: 60px;
    cursor:pointer;
}

/* Estilizando a imagem do botão */
.search button img{
    width: 16px; 

}

/* Configurando o ícone central */
.weather-icon{
    width:170px;
    margin-top:30px;
}

/* Configurando o texto da temperatura e cidade */
.weather h1{
    font-size:80px;
    font-weight:500;
}

.weather h2{
    font-size:45px;
    font-weight:400;
    margin-top: -10px;

}
/* Estilizando os detalhes (vento e umidade) */
.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0px 20px;
    margin-top:50px;
}

.col {
    display: flex;
    align-items:center;
    text-align:left;
}
/* Estilizando os ícones de umidade e ventos */
.col img{
    width:40px;
    margin-right:10px;
}

/* Estilizando textos */
.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

/* Esconderá o resultado padrão */
.weather {
    display: none;
}

.erro {
    text-align:left;
    margin-left: 10px;
    font-size:14px;
    margin-top:10px;
    display:none;
}